#titulo {
  background-color: #ffddcc;
}
#sub1 {
  background-color: #ffb0cd;
}
#bg2 {
  background-color: #caedff;
}

#waves {
  width: 100vw;
}
#titulo-card {
  font-size: 80px;
}

#image {
  height: 600px;
  width: 700px;
}
