#titulo {
  background-color: #ffddcc;
}
#sub1 {
  background-color: #ffb0cd;
}
#waves {
  width: 100vw;
}
#titulo-card {
  font-size: 80px;
}
#card-image {
  height: fit-content;
  width: fit-content;
  align-items: center;
}
#image {
  height: 800px;
  width: 700px;
}
