#carrusel {
  width: auto;
  border: none;
}

#aboutus {
  background-color: #ffb0cd;
  opacity: 80%;
}

#bordemasvendido {
  background: #ffddcc;
}

#subtitulo_pp {
  font-size: 50px;
  text-align: center;
}

#subtitulo_txt {
  text-align: center;
  font-size: 25px;
}
