#carrusel {
  width: auto;
  border: none;
}

#aboutus {
  background-color: #ffb0cd;
  opacity: 80%;
}

#bordemasvendido {
  background-color: #ffddcc;
  width: auto;
  height: 1200;
}

#subtitulo_pp {
  justify-content: center;
  padding: 40px;
  font-size: 30px;
}

#subtitulo_txt {
  text-align: center;
  padding: 50px;
}
